@import './components/header';
@import './components/footer';
@import './components/_main/main-styles';

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: rgba(11, 11, 11, 0.5);
}

.container {
  width: 1200px;
  margin: 0px auto;
  @media (max-width: 1200px) {
    & {
      width: 768px;
    }
  }
  @media (max-width: 768px) {
    & {
      width: 320px;
    }
  }
}

a {
  text-decoration: none;
}

.rectangle {
  border: 1px solid rgba(220, 86, 197, 0.3);
  border-radius: 50px 0px 50px 0px;
  width: 153px;
  height: 143px;
  position: absolute;
  top: -15px;
  right: 0;
  @media (max-width: 768px) {
    & {
      width: 108px;
      height: 101px;
    }
  }
}

.loader {
  padding-top: 89.5px;
  padding-bottom: 89.5px;
  width: 65px;
  display: grid;
  --mask:
    radial-gradient(12px at left 15px top 50%, #0000 95%, #000),
    radial-gradient(12px at right 15px top 50%, #0000 95%, #000);
  -webkit-mask: var(--mask);
  mask: var(--mask);
  -webkit-mask-composite: source-in;
  mask-composite: intersect;
  animation: l1 1s infinite alternate;

  /* плавное появление */
  opacity: 0;
  animation:
    fadeIn 0.6s ease forwards,
    l1 1s infinite alternate;
}

.loader:before,
.loader:after {
  content: '';
  grid-area: 1/1;
  height: 30px;
  aspect-ratio: 1;
  background: #fff;
  border-radius: 50%;
}

.loader:after {
  margin-left: auto;
}

@keyframes l1 {
  to {
    width: 40px;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.no-results {
  color: white;
  font-size: 51px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  margin-top: 73.5px;
  margin-bottom: 73.5px;
  text-align: center;
  @media (max-width: 768px) {
    & {
      font-size: 35px;
      margin-top: 100px;
      margin-bottom: 100px;
    }
  }
  @media (max-width: 480px) {
    & {
      font-size: 30px;
    }
  }
}
