@charset "UTF-8";
.header {
  background:
    url('../img/background.png') no-repeat center/cover,
    rgba(11, 11, 11, 0.5);
  padding-top: 40px;
}
@media (max-width: 768px) {
  .header {
    padding-top: 80px;
  }
}
.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 70px;
  padding-bottom: 250px;
}
@media (max-width: 1200px) {
  .header-content {
    gap: 40px;
  }
}
@media (max-width: 768px) {
  .header-content {
    gap: 25px;
    padding-bottom: 170px;
  }
}
.header-content .logo {
  position: absolute;
  left: 0;
  top: 0;
}
@media (max-width: 1200px) {
  .header-content .logo > img {
    width: 205px;
  }
}
@media (max-width: 768px) {
  .header-content .logo > img {
    width: 110px;
  }
}
.header-content .header-title {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.header-content .header-title__item {
  width: 590px;
  color: rgb(220, 86, 197);
  font-family: 'Montserrat';
  font-size: 50px;
  font-weight: 900;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  margin: 0px;
}
@media (max-width: 1200px) {
  .header-content .header-title__item {
    color: rgb(220, 86, 197);
    font-family: 'Montserrat';
    font-size: 30px;
    font-weight: 900;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    width: 353px;
  }
}
@media (max-width: 768px) {
  .header-content .header-title__item {
    color: rgb(220, 86, 197);
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 900;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    width: 212px;
  }
}
.header-content .header-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.header-content .header-form > label {
  position: relative;
  border-radius: 20px;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.2);
  padding: 12.5px 30px 12.5px 30px;
  width: 260px;
}
@media (max-width: 1200px) {
  .header-content .header-form > label {
    width: 270px;
  }
}
.header-content .header-form #search {
  outline: none;
  border: none;
  color: rgb(147, 147, 147);
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
  width: 180px;
  background: none;
}
@media (max-width: 1200px) {
  .header-content .header-form #search {
    width: 170px;
  }
}
.header-content .header-form #submit-search {
  position: absolute;
  right: 30px;
  bottom: 0;
  top: 0;
  background: none;
  border: none;
  padding: 0px;
}
.header-content .header-form #submit-search:hover {
  cursor: pointer;
}
.header-content .header-dropdown {
  display: flex;
  align-items: center;
  gap: 70px;
  border-radius: 20px;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.2);
  padding: 15px 30px 15px 30px;
}
.header-content .header-dropdown > h5 {
  color: rgb(147, 147, 147);
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
  margin: 0px;
}
.header-content .header-dropdown > img:hover {
  cursor: pointer;
}
.header-content .header-dropdown .dropdown-menu {
  display: none;
}

.footer {
  padding-top: 80px;
  padding-bottom: 20px;
  background-color: #0e0e0e;
}
@media (max-width: 768px) {
  .footer {
    padding-top: 60px;
    padding-bottom: 30px;
  }
}
.footer .footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .footer-content #footer-content__title {
  color: rgb(147, 147, 147);
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
}
@media (max-width: 768px) {
  .footer .footer-content #footer-content__title {
    color: rgb(147, 147, 147);
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    width: 252px;
  }
}

.events {
  background:
    url('../img/bg-body.png') no-repeat center/cover,
    #0e0e0e;
}
.events .events-content .cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 55px 45px;
}
@media (max-width: 1200px) {
  .events .events-content .cards {
    gap: 45px 15px;
  }
}
@media (max-width: 768px) {
  .events .events-content .cards {
    gap: 30px 5px;
  }
}
.events .events-content .cards .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  position: relative;
  height: auto;
  width: 225px;
}
.events .events-content .cards .card:hover {
  cursor: pointer;
}
@media (max-width: 768px) {
  .events .events-content .cards .card {
    width: 135px;
  }
}
.events .events-content .cards .card__img {
  width: 180px;
  height: 225px;
  border-radius: 50px 0px 50px 0px;
}
@media (max-width: 768px) {
  .events .events-content .cards .card__img {
    width: 128px;
    height: 161px;
  }
}
.events .events-content .cards .card__title {
  color: rgb(220, 86, 197);
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0%;
  margin: 5px 0px 0px 0px;
  text-align: center;
  width: auto;
}
@media (max-width: 768px) {
  .events .events-content .cards .card__title {
    color: rgb(220, 86, 197);
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
  }
}
.events .events-content .cards .card__time {
  color: rgb(255, 255, 255);
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
  margin: 0px;
}
@media (max-width: 768px) {
  .events .events-content .cards .card__time {
    color: rgb(255, 255, 255);
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
  }
}
.events .events-content .cards .card__place {
  color: rgb(255, 255, 255);
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  margin: 0px;
}
@media (max-width: 768px) {
  .events .events-content .cards .card__place {
    color: rgb(255, 255, 255);
    font-family: 'Montserrat';
    font-size: 12px;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 0%;
  }
}
.events .events-content .cards .card__place::before {
  content: url('../img/place.png');
  margin-right: 5px;
}
.events .events-content .pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding-top: 80px;
}
@media (max-width: 768px) {
  .events .events-content .pagination {
    padding-top: 60px;
  }
}
.events .events-content .pagination__btn {
  background: none;
  border: none;
  color: rgb(255, 255, 255);
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
  padding: 5px 10px;
}
.events .events-content .pagination__btn:hover {
  cursor: pointer;
}
.events .events-content .pagination__btn.active {
  box-sizing: border-box;
  border: 1px solid rgb(220, 86, 197);
  border-radius: 10px 0px 10px 0px;
}
.events .events-content .pagination__dots {
  color: rgb(255, 255, 255);
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
  margin-left: 15px;
  margin-right: 15px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
}

.container {
  width: 1200px;
  margin: 0px auto;
}
@media (max-width: 1200px) {
  .container {
    width: 768px;
  }
}
@media (max-width: 768px) {
  .container {
    width: 320px;
  }
}

a {
  text-decoration: none;
}

.rectangle {
  border: 1px solid rgba(220, 86, 197, 0.3);
  border-radius: 50px 0px 50px 0px;
  width: 153px;
  height: 143px;
  position: absolute;
  top: -15px;
  right: 0;
}
@media (max-width: 768px) {
  .rectangle {
    width: 108px;
    height: 101px;
  }
}

.loader {
  padding-top: 89.5px;
  padding-bottom: 89.5px;
  width: 65px;
  display: grid;
  --mask:
    radial-gradient(12px at left 15px top 50%, #0000 95%, #000),
    radial-gradient(12px at right 15px top 50%, #0000 95%, #000);
  -webkit-mask: var(--mask);
  mask: var(--mask);
  -webkit-mask-composite: source-in;
  mask-composite: intersect;
  animation: l1 1s infinite alternate;
  /* плавное появление */
  opacity: 0;
  animation:
    fadeIn 0.6s ease forwards,
    l1 1s infinite alternate;
}

.loader:before,
.loader:after {
  content: '';
  grid-area: 1/1;
  height: 30px;
  aspect-ratio: 1;
  background: #fff;
  border-radius: 50%;
}

.loader:after {
  margin-left: auto;
}

@keyframes l1 {
  to {
    width: 40px;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.no-results {
  color: white;
  font-size: 51px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  margin-top: 73.5px;
  margin-bottom: 73.5px;
  text-align: center;
}
@media (max-width: 768px) {
  .no-results {
    font-size: 35px;
    margin-top: 80px;
    margin-bottom: 80px;
  }
}
@media (max-width: 480px) {
  .no-results {
    font-size: 25px;
  }
}