.footer {
  padding-top: 80px;
  padding-bottom: 20px;
  background-color: #0e0e0e;
  @media (max-width: 768px) {
    & {
      padding-top: 60px;
      padding-bottom: 30px;
    }
  }
  .footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    #footer-content__title {
      color: rgba(147, 147, 147, 1);
      font-family: 'Montserrat';
      font-size: 16px;
      font-weight: 400;
      line-height: 100%;
      letter-spacing: 0%;
      @media (max-width: 768px) {
        & {
          color: rgba(147, 147, 147, 1);
          font-family: 'Montserrat';
          font-size: 14px;
          font-weight: 400;
          line-height: 100%;
          letter-spacing: 0%;
          text-align: center;
          width: 252px;
        }
      }
    }
  }
}
